.login {
    height: 100vh;
    position: relative;

}
.login__container {
  
    position: absolute;
    inset: 0;
}
.login__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--height-nav);
    margin: 0 12px;
}
.login__logo {
    width: 100px;
    cursor: pointer;
}
.login__button {
    padding: 1rem 2rem;
    background-color: var(--red-dark-color);
    color: var(--second-txt-color);
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login__button:hover {
    background-color: var(--red-bright-color);
}

.login__contents {
    color: var(--second-txt-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
    height: calc(100% - var(--height-nav));
    
    
}

.login__title{
    font-size: 4rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideY .5s linear forwards;

}
.login
.login__subtitle{
    padding-top: 12px;
    padding-bottom: 32px;
    transform: translateX(-100px);
    animation: slideX .5s linear forwards;
   
}
.login__form-title{
    padding-bottom: 12px;
    transform: translateX(100px);
    animation: slideX .5s linear forwards;
}

.login__form-button{
    font-size: 1.5rem;
    padding: 8px 12px;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-transform: uppercase;
}
.login__form-email {
    text-align: center;
    transform: translateY(50px);
    opacity: 0;
    animation: slideY .6s linear forwards;

}
.login__form-input {
    font-size: 1.5rem;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    outline: none;
    padding: 8px 12px;
    width: 40%;
    

}
.login__wrap__button .login__button {
    margin-left: 12px;
}
@keyframes slideY {
   
    to {
        transform: translateY(0);
        opacity: 1;

    }
}
@keyframes slideX {
   
    to {
        transform: translateX(0);

    }
}
@media screen and (max-width:600px) {   
 
    .login {
        overflow: hidden;
    }
   
    .login__contents {
        align-items: flex-start;
        padding: 24px;
    }
    .login__title {
        font-size: 2rem;
    }
    .login__subtitle, .login__form-title {
        font-size: 1.25rem;
    }
    .login__form-email {
        display: flex;
    }
    .login__form-input {
        flex: 1;
    }

}

