.banners {
    margin-top: var(--height-nav);
    padding-top: 40%;
    position: relative;
    font-size: 1.5rem;
    color: var(--second-txt-color);
}
.banners__contents {
    position: absolute;
    top: 50%;
    width: 50%;
    left: 50px;
    transform: translateY(-50%);
}
.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    inset: 0;
    position: absolute;

}
.banners__title {
    font-size: 3rem;
    font-weight: 600;
}
.banners__buttons {
    --size:8px;
    padding-top: var(--size);
    padding-bottom: var(--size);

}
.banners__button {
    display: inline-block;
    border-radius: 4px;
    background-color:var(--second-bg-color);
    border: none;
    outline: none;
    color: var(--main-txt-color);
    cursor: pointer;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    text-transform: uppercase;
    font-weight: 500;

}
.banners__button i {
    margin-right: 8px;
}
.banners__button:hover {
    background-color: var(--red-dark-color);
    color: var(--second-txt-color);
}
.banners__description {
    font-size: 1.5rem;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin-bottom: 12px;
}
.banners__type {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 12px;

}
.banners__vote-average {
    margin-left: 8px;
}

/* responsive */
@media screen and (max-width:768px) {
    .banners  {
        padding-top:100% ;
    }
    .banners__contents {
        width: calc(100% - 24px);
       left: 12px;
       right: 12px;

    }
    .banners__button {
        padding: 16px 32px;
    }
}